@media (min-width: 700px) {
    .container{
        background-image: url(../images/desktop/image-hero.jpg);
        background-position:  bottom;
        background-size: cover;
        height: 60vh;
    }

    .main-container{
        width: 60%;
    }

    .main-container p{
        font-size: 3rem;
    }


}